html,body{
    margin: 0;
    padding: 0;
}
body{
    padding: 15px;
    background-color: #f2f3f5;
}
/* 设置裁剪区域的样式 */
.cropper-box {
    width: 350px;
    height: 350px;
    background-color: #ccc;
    overflow: hidden;
}

.cropper-box img {
    width: 100%;
}

/* 设置第一个预览区域的样式 */
.w100 {
    width: 150px;
    height: 150px;
    background-color: gray;
}

/* 设置图片行的样式 */
.row1 {
    display: flex;
}

/* 设置 preview-box 区域的的样式 */
.preview-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

/* 设置 img-preview 区域的样式 */
.img-preview {
    overflow: hidden;
    background: url(/assets/images/avatar.jpg) no-repeat center;
    background-size: 100%;
}

#file {
    display: none;
}